body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inventory {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 7px;
  align-items: center;
  justify-items: center;
}

.inventory-item {
  display: inline-grid;
  border: 2px;
  border-color: black;
  border-style: solid;
  align-items: center;
  text-align: center;
  width: 30vw;
  height: 41vw;
  position: relative;
}

.heavy {
  background-color: rgb(241, 83, 83);
}

.encumbered {
  background-color: #f7f756;
}

.remove {
  background-color: rgb(236, 22, 22);
  position: absolute;
  top: 0;
  right: 0;
}

.notch .plus{
  place-self: start end;
}

.notch .minus{
  place-self: end end;
}