body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inventory {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 7px;
  align-items: center;
  justify-items: center;
}

.inventory-item {
  display: inline-grid;
  border: 2px;
  border-color: black;
  border-style: solid;
  align-items: center;
  text-align: center;
  width: 30vw;
  height: 41vw;
  position: relative;
}

.heavy {
  background-color: rgb(241, 83, 83);
}

.encumbered {
  background-color: #f7f756;
}

.remove {
  background-color: rgb(236, 22, 22);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
}

.notches {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
  "a a a a b b"
  "a a a a b b"
  "a a a a c c"
  "a a a a c c";
  justify-items: stretch;
}

.notch-text {
  grid-area: a;
  align-self: center;
}

.notch-btns {
  font-size: .5em;
}

.notch-btns .plus{
  grid-area: b;
}

.notch-btns .minus{
  grid-area: c;
}

.add {
  place-self: start center;

  font-size: large;
}
.main .margin {
  margin-right: 25%;
}
.item-sidebar {
  position: fixed!;
  width: 25%;
  display: block;
  right: 0;
  top: 0;
}