body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin: auto;
  width: 85vw;
}

.inventory {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  align-items: center;
  justify-items: center;
}

.inventory-item {
  display: inline-grid;
  border: 2px;
  border-color: black;
  border-style: solid;
  align-items: center;
  text-align: center;
  width: 20vw;
  height: 27vw;
  position: relative;
}

.hovered-item {
  width: 30vw;
  height: 41vw;
  animation: grow 200ms;
}

.unhovered-item {
  animation: shrink 100ms;
}

.heavy {
  background-color: rgb(241, 83, 83);
}

.encumbered {
  background-color: #f7f756;
}

.remove {
  background-color: rgb(236, 22, 22);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
}

.notches {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
  "a a a a b b"
  "a a a a b b"
  "a a a a c c"
  "a a a a c c";
  justify-items: stretch;
}

.notch-text {
  grid-area: a;
  align-self: center;
}

.notch-btns {
  font-size: .5em;
}

.notch-btns.plus{
  grid-area: b;
}

.notch-btns.minus{
  grid-area: c;
}

.add {
  place-self: start center;

  font-size: large;
}
.margin {
  width: 72%;
  margin-right: 28%;
  float: left;
  animation-name: margin;
  animation-duration: 300ms;
}
.item-sidebar {
  width: 28%;
  display: block;
  position: fixed;
  right: 0;
  animation-name: sidebar;
  animation-duration: 300ms;
}

.selected {
  border: 10px solid rgb(0, 225, 255);
  background-color: rgb(227, 252, 255);
  animation-name: selectedSlot;
  animation-duration: 400ms;
}

.no-margin {
  animation: no-margin 300ms;
}

@keyframes sidebar {
 from{right:-300px;opacity:0;} 
 to{right:0;opacity:1;}
}

@keyframes margin {
  from{width: 85vw; margin: auto; margin-right: 0%; float: none;} 
  to{width: 72%; float: left;}
}

@keyframes selectedSlot {
  from{
    border: 10px solid black;
    background-color: white;
  }
  to{
    border: 10px solid rgb(0, 225, 255);
    background-color: rgb(227, 252, 255);
  }
}

@keyframes no-margin {
  from{width: 72%; margin-right: 28%; float: left;} 
  to{width: 85vw; margin: auto; float: none;}
}

@keyframes shrink {
  from{
    width: 30vw;
    height: 41vw;
  }
  to{
    width: 20vw;
    height: 27vw;
  }
}

@keyframes grow {
  from{
    width: 20vw;
    height: 27vw;
  }
  to{
    width: 30vw;
    height: 41vw;
  }
}